html {
    background-image: url("../images/background.png");
    background-size: cover;
}

/* Start of welcome screen styling */
body {
    margin: 0px;
    padding: 0px;
}

#welcome {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#welcome-head {
    display: block;
    font-size: 81pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

h6 {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 48pt;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

/* Start of race scores styling */
#race {
    padding-top: 72px;
    padding-left: 64px;
}

#race-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 58pt;
    color: #ffffff;
    margin-top: 0px;
    max-width: 1750px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#container {
    overflow: hidden;
}

img {
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 58px;
    max-height: 58px;
}

strong {
    margin-left: 45px;
}

ol {
    padding-left: 0px;
    list-style-position: inside;
    max-height: 700px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 58pt;
    color: #ffffff;
}

li::marker {
    font-weight: 700;
}