html {
    background-image: url("../images/background.png");
    background-size: cover;
}

body {
    padding-top: 72px;
    padding-left: 64px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48pt;
    color: #ffffff;
    margin-top: 0px;
}

img {
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
    width: 58px;
    height: 58px;
}

strong {
    margin-left: 45px;
}

ol {
    padding-left: 0px;
    list-style-position: inside;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48pt;
    color: #ffffff;
}

li::marker {
    font-weight: 700;
}